*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Bruno Ace', cursive;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    background-color: lightgray;
}

#title {
    font-weight: bold;
    font-size: 8vmin;
    text-align: center;
    background-color: none;
    color: black;
    opacity: 0.75;
    padding: 8px;
}

#calculator {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 8px;
    background-color: none;
}

#calcDisplay {
    background-color: black;
    color: orange;
    font-size: 9vmin;
    flex: 2;
    margin: 8px;
    padding: 8px 32px;
    opacity: 0.75;
    text-align: right;
    overflow-wrap: break-word;
}

#calcBtns {
    display: flex;
    flex-direction: column;
    flex: 5;
    row-gap: 8px;
    margin: 8px;
    opacity: 0.75;
}

#calcBtns div {
    display: flex;
    flex: 1;
    column-gap: 8px;
}

#calcBtns div .btn {
    flex: 1;
    font-size: 6vmin;
    border: none;
}

.btn {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .07s ease;
}

#equals {
    background-color: orange;
}

#clr,
#del {
    background-color: red;
}

.operator {
    background-color: orangered;
}

#message {
    font-size: 3vmin;
    text-align: center;
    background-color: black;
    color: orange;
    opacity: 0.75;
    padding: 8px;
}

.clicked {
    transform: scale(1.03);
    border-color: orange;
    box-shadow: 0 0 1rem orange;
}